{% extends 'base.html.twig' %}

{% block title %}Jérémy DONIAK{% endblock %}

{% block body %}

<header id="home-header">
    <div id="header-img"></div>
    <h1>Jérémy DONIAK</h1>
    <h2>Développeur web - <br> web mobile</h2>
</header>

<main class="container-fluid">

    <section>
        <div class="row bg-light py-5">
            <div class="col-8 offset-2 p-3">
                <h3>Projets</h3>
            </div>
            <div class="col-8 offset-2 p-3 d-inline-flex">
                {% for projet in projets %}
                <div class="col-4 p-3">
                    <div class="card">
                        <img src="{{ asset('img/' ~ projet.img) }}" class="card-img-top" alt="photo principale {{ projet.titre }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ projet.titre }}</h5>
                            <p class="card-text">{{ projet.description|u.truncate(40, '...', false)  }}</p>
                        </div>
                        <div class="card-body text-center">
                            <a href="#" class="btn btn-outline-secondary">Voir plus</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <section>
        <div class="row py-5">
            <div class="col-8 offset-2 p-3">
                <h3>Compétences</h3>
            </div>
            <div class="col-8 offset-2 p-3 d-inline-flex">
                {% for competence in competences %}
                        <div class="col-4 p-3">
                            <h5>{{ competence.titre }}</h5>
                            <ul class="col-4 p-3">
                                <li><img src="{{ asset('img/' ~ competence.img) }}" alt="photo {{ competence.titre }}"></li>
                                <li>{{ competence.description  }}</li>
                            </ul>
                        </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <section>
        <div class="row bg-light py-5">
            <div class="col-8 offset-2 p-3">
                <h3>À Propos</h3>
            </div>
            {% for propo in propos %}
                    <div class="col-8 offset-2 p-3">
                        <p>{{ propo.description  }}</p>
                    </div>
            {% endfor %}
        </div>
    </section>

    <section id="contact">
        <main class="container-fluid">

            <div class="row">
                <div class="col-8 offset-2">
                    {% for label, messages in app.flashes %}
                        {% for message in messages %}
                            <div class="flash-{{ label }} bg-{{ label }} text-light p-3 mb-5 rounded">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>

            <div class="row py-5">
                <div class="col-6 offset-3 p-3">
                    <h3>Contact</h3>
                </div>
                {{ form_start(contactForm) }}
                <div class="row">
        
                    <div class="col-3 offset-3 mb-3">
                        {{ form_row(contactForm.prenom) }}
                    </div>
                    <div class="col-3 mb-3">
                        {{ form_row(contactForm.nom) }}
                    </div>
                    <div class="col-6 offset-3 mb-3">
                        {{ form_row(contactForm.email) }}
                    </div>
                    <div class="col-6 offset-3 mb-3">
                        {{ form_row(contactForm.message) }}
                    </div>
                    <div class="col-6 offset-3 mb-3">
                        {{ form_row(contactForm.fichier) }}
                    </div>
                    <div class="col-3 offset-3 mb-3">
                        <input type="submit" value="Envoyer" class="btn btn-primary">
                    </div>
                </div>
                {{ form_end(contactForm) }}
            </div>
    
        </main>
    </section>

</main>

{% endblock %}
