{% extends 'base.html.twig' %}

{% block title %}Jérémy DONIAK{% endblock %}

{% block body %}

<header id="home-header">
    <div id="header-img"></div>
    <h1>Jérémy DONIAK</h1>
    <h2>Développeur web - <br> web mobile</h2>
</header>

<main class="container-fluid py-5">

    <section>
        <div class="row">
            <div class="col-8 offset-2 p-3">
                <h3>Projets</h3>
            </div>
            {% for projet in projets %}
                    <div class="col-3 offset-2 p-3">
                        <div class="card">
                            <img src="{{ asset('img/' ~ projet.img) }}" class="card-img-top" alt="photo principale {{ projet.titre }}">
                            <div class="card-body">
                                <h5 class="card-title">{{ projet.titre }}</h5>
                                <p class="card-text">{{ projet.description|u.truncate(90, '...', false)  }}</p>
                            </div>
                            <div class="card-body text-center">
                                <a href="#" class="btn btn-outline-secondary">Voir plus</a>
                            </div>
                        </div>
                    </div>
            {% endfor %}
        </div>
    </section>

    <section>
        <div class="row bg-light">
            <div class="col-8 offset-2 p-3">
                <h3>Compétences</h3>
            </div>
            {% for competence in competences %}
                    <div class="col-1 offset-2 p-3">
                        <h5>{{ competence.titre }}</h5>
                        <p>{{ competence.description|u.truncate(90, '...', false)  }}</p>
                    </div>
            {% endfor %}
        </div>
    </section>

    <section>
        <div class="row">
            <div class="col-8 offset-2 p-3">
                <h3>À Propos</h3>
            </div>
            {% for propo in propos %}
                    <div class="col-8 offset-2 p-3">
                        <h5>{{ propo.titre }}</h5>
                        <p>{{ propo.description|u.truncate(90, '...', false)  }}</p>
                    </div>
            {% endfor %}
        </div>
    </section>

</main>

{% endblock %}
