{% extends 'baseAdmin.html.twig' %}

{% block title %}Projets index{% endblock %}

{% block body %}
    <h1>Projets index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Img</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for projet in projets %}
            <tr>
                <td>{{ projet.id }}</td>
                <td>{{ projet.titre }}</td>
                <td>{{ projet.description }}</td>
                <td><img src="{{ asset('img/' ~ projet.img) }}" alt="photo {{ projet.titre }}"></td>
                <td>
                    <a href="{{ path('projets_show', {'id': projet.id}) }}">show</a>
                    <a href="{{ path('projets_edit', {'id': projet.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('projets_new') }}">Create new</a>
{% endblock %}
